<form class="form-login">
  <div class="form-login-wrapper">
    <div class="form-login-header">
      <h1 class="form-login-title">Profile</h1>
      <button class="active">Registration</button>
      <button>Sign in</button>
    </div>
  </div>

  <div class="form-login-socials">
    You can sign in with social
    <ul>
      <li>
        <i class="icon-facebook"></i>
      </li>
      <li>
        <i class="icon-vk"></i>
      </li>
      <li>
        <i class="icon-google"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
      </li>
    </ul>
  </div>

  <div class="form-login-content">
    <div class="registration">
      <app-input-text class="mt-20" type="text" placeholder="Your name"></app-input-text>
      <app-input-text class="mt-20" type="email" placeholder="E-mail"></app-input-text>
      <app-input-text class="mt-20" type="tel" placeholder="Phone"></app-input-text>
      <app-checkbox   class="mt-20" name="privacy" id="privacy">
        I accept the terms of the offer of
        <a href="http://" target="_blank" rel="noopener noreferrer">
          the privacy policy
        </a>
      </app-checkbox>
    </div>
    <div class="sigin"></div>
  </div>
</form>
