<form class="form-login">
  <div class="form-login-wrapper">
    <div class="form-login-header">
      <h1 class="form-login-title">Profile</h1>
      <button>Registration</button>
      <button>Sign in</button>
    </div>
  </div>

  <div class="form-login-socials">
    You can sign in with social
    <ul>
      <li>
        <i class="icon-facebook"></i>
      </li>
      <li>
        <i class="icon-vk"></i>
      </li>
      <li>
        <i class="icon-google"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
      </li>
    </ul>
  </div>

  <div class="form-login-content">
    <router-outlet></router-outlet>
  </div>
</form>
