<form (submit)="submit()" novalidate #form="ngForm">
  <app-input-text
    [(ngModel)]="user.email"
    [error]="email.invalid && (!email.pristine || form.submitted)"
    #email="ngModel"
    name="email"
    type="email"
    [required]="true"
    placeholder="Email"
    message="email.error"
    class="mt-20"
  ></app-input-text>

  <app-input-text
    [(ngModel)]="user.password"
    [error]="password.invalid && (!password.pristine || form.submitted)"
    #password="ngModel"
    name="password"
    type="password"
    [required]="true"
    message="password.error"
    placeholder="Password"
    class="mt-20"
  ></app-input-text>

  <app-button
    type="submit"
    [disabled]="form.invalid"
    class="mt-20"
    color="royal"
    size="big"
  >
    Sign in
  </app-button>
</form>
