<app-header></app-header>

<app-container>
  <app-title>Pokemons</app-title>
  <app-description>
    Each course contains video lectures, tasks, and text materials. All courses
    viewed by you are displayed in your personal account
  </app-description>

  <app-search (submit)="getPokemonByName($event)"></app-search>

  <app-simple-list *ngIf="!error; else errorFeedback">
    <li *ngFor="let pokemon of listPokemons$ | async">
      <app-card-info
        [name]="pokemon?.name"
        [abilities]="pokemon?.abilities"
        [moves]="pokemon?.moves"
        [thumb]="pokemon?.thumb"
      ></app-card-info>
    </li>
  </app-simple-list>

  <ng-template #errorFeedback>
    <h2 class="errorFeedback">Pokemon não encontrado</h2>
  </ng-template>

  <footer class="list_footer">
    <app-pagination
      (prev)="prev()"
      (next)="next()"
      (goToPage)="goToPage($event)"
      [allPages]="allPages"
      [currentPage]="currentPage / limit"
    >
    </app-pagination>
  </footer>
</app-container>
