<form (submit)="submit()" novalidate #form="ngForm">
  <app-input-text
    [(ngModel)]="user.name"
    [error]="name.invalid && !name.pristine"
    [id]="'name'"
    [name]="'name'"
    #name="ngModel"
    type="text"
    placeholder="Your name"
    message="name.error"
    [required]="true"
    class="mt-20"
  ></app-input-text>

  <app-input-text
    [(ngModel)]="user.email"
    [error]="email.invalid && !email.pristine"
    #email="ngModel"
    name="email"
    type="email"
    [required]="true"
    placeholder="Email"
    message="email.error"
    class="mt-20"
  ></app-input-text>

  <app-input-text
    [(ngModel)]="user.password"
    [error]="password.invalid && !user.pristine"
    #password="ngModel"
    name="password"
    type="password"
    [required]="true"
    message="password.error"
    placeholder="Password"
    class="mt-20"
  ></app-input-text>

  <app-checkbox
    class="mt-20"
    name="agree"
    [required]="true"
    [(ngModel)]="agree"
  >
    I accept the terms of the offer of the privacy policy
  </app-checkbox>

  <app-button
    type="submit"
    [disabled]="form.invalid"
    class="mt-20"
    color="royal"
    size="big"
  >
    Registration
  </app-button>
</form>
