<form (submit)="submit()" novalidate #form="ngForm">
  <app-input-text
    #name="ngModel"
    [(ngModel)]="user.name"
    [required]="true"
    [error]="name.invalid && (!name.pristine || form.submitted)"
    [id]="'name'"
    name="name"
    type="text"
    placeholder="Your name"
    class="mt-20"
  ></app-input-text>

  <app-input-text
    [required]="true"
    [(ngModel)]="user.email"
    [error]="email.invalid && (!email.pristine || form.submitted)"
    #email="ngModel"
    name="email"
    type="email"
    placeholder="Email"
    class="mt-20"
  ></app-input-text>

  <app-input-text
    [(ngModel)]="user.password"
    [required]="true"
    [error]="password.invalid && (!password.pristine || form.submitted)"
    #password="ngModel"
    name="password"
    type="password"
    placeholder="Password"
    class="mt-20"
  ></app-input-text>

  <app-checkbox
    class="mt-20"
    name="agree"
    [required]="true"
    [(ngModel)]="agree"
  >
    I accept the terms of the offer of the privacy policy
  </app-checkbox>

  <app-button
    type="submit"
    [disabled]="form.invalid || !agree"
    class="mt-20"
    color="royal"
    size="big"
  >
    Registration
  </app-button>
</form>
